@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
	font-family: 'Lato', sans-serif;
	background-color: #141414;
	padding : 0;
	margin:0;
	color:#fff;
}
	body .page{
		margin: 30px 80px;
	}
	body{
		background: url(https://scontent.ftun8-1.fna.fbcdn.net/v/t39.30808-6/285471673_1056943634942177_940258695543553758_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=e3f864&_nc_ohc=mzsNrG_wQ2kAX-unLeL&_nc_ht=scontent.ftun8-1.fna&oh=00_AT9neVEl95KY_A0_2agmdLlXc5gNYYT6BaF7svc2xmiXeA&oe=62E823F3)no-repeat

	}
/* Barre de navigation*/
nav{
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background-color: #red;
	padding: 10px 0px;
}
nav .onglets{
	display: flex;
	flex-wrap:wrap;
	margin-top: 10px
}
nav .onglets a{
	margin-right: 30px;
	color: #fff;
	cursor: pointer; 
	text-decoration: none;
}
nav .buttons button{
	padding: 13px 20px;
	color:#fff;
	border: none;red;
	font-size: 15px;
	cursor: pointer;
	outline:none;
}
nav .buttons .login{
	background-color: inherit;
	margin-right: 10px;
	color: #8F8F8F;
}
nav .buttons .register{
	background-color: #f54266;
	margin-right: 10px;
	color: #fff;
}	
/* Fin de la barre de navigation*/

/*partie header */
header{
	margin-top: 40px;
	background: url(https://officialpsds.com/imageview/7x/6v/7x6vll_large.png?1521316541);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 300px;
}

header h1{
	text-align: center;
	font-size: 70px;
	padding: 200px;
	padding-left: 200px;
 }			
/*fin de la partie header*/

/* pied de page*/
footer{
	background-color: #1a1a1a;
	padding: 25px 100px;
	color: #828282;
}
footer .colonnes{
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
}
/* fin de pied de page*/

@media screen and(max-width: 640px){
	body ,page{
		margin: 10px;
	}
	nav .onglets{
		display: none;
	}
	header{
		margin-top: 20px;
		background-size: 250px 250px;
	}
	header h1{
		font-size: 30px;
		padding: 100px;
	}

}